doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .container
            a(href="#" target="_blank") Tour trong nước
            p Bạn là người thích du hành? Sao không thử đếm xem bạn đã trải qua bao nhiêu quốc gia rồi? TravelKit sẽ là đòn bẩy để đưa bạn đến mọi quốc gia trên thế giới!
            br
            hr(width='100%' size='3px' align='center')
            .card__block
                .card__background1
                    span   
                    .card__img 
                        img(src="./../img/banaHills.jpg", alt="", srcset="")
                    .card__infor 
                        p Lịch trình Tour Bà Nà Hills - 4 ngày, 3 đêm
                        br
                        hr(width='100%' size='1px' align='center')
                        h5 
                            del 43.000.000đ
                        h4 
                            span 36.550.000đ
                    .card__sale 
                        span -15%

                .card__background1
                    span   
                    .card__img
                        img(src="./../img/daLat.jpg", alt="", srcset="")
                    .card__infor 
                        p Lịch trình Tour Đà Lạt - 6 ngày, 5 đêm
                        br
                        hr(width='100%' size='1px' align='center')
                        h5 
                            del 30.000.000đ
                        h4 
                            span 22.500.000đ
                    .card__sale 
                        span -25%
                .card__background1
                    span 
                    .card__img 
                        img(src="./../img/haGiang.jpg", alt="", srcset="")
                    .card__infor 
                        p Lịch trình Tour Hà Giang - 7 ngày, 6 đêm
                        br
                        hr(width='100%' size='1px' align='center')
                        h5 
                            del 30.000.000đ
                        h4 
                            span 24.000.000đ
                    .card__sale 
                        span -20%
                .card__background1  
                    span 
                    .card__img 
                        img(src="./../img/phongNha.jpg", alt="", srcset="")
                    .card__infor 
                        p Lịch trình Tour Phong Nha - Kẻ Bàng - 4 ngày, 3 đêm
                        br
                        hr(width='100%' size='1px' align='center')
                        h5 
                            del 50.000.000đ
                        h4 
                            span 45.000.000đ
                    .card__sale 
                        span -10%

                .card__background1 
                    span  
                    .card__img 
                        img(src="./../img/phuQuoc.jpg", alt="", srcset="")
                    .card__infor 
                        p Lịch trình Tour Phú Quốc - 5 ngày, 4 đêm
                        br
                        hr(width='100%' size='1px' align='center')
                        h5 
                            del 35.000.000đ
                        h4 
                            span 29.775.000đ
                    .card__sale 
                        span -15%
                .card__background1
                    .card__img 
                        img(src="./../img/sapa.jpg", alt="", srcset="")
                    .card__infor 
                        p Lịch trình Tour Sapa  - 5 ngày, 4 đêm
                        br
                        hr(width='100%' size='1px' align='center')
                        h5 
                            del 38.000.000đ
                        h4 
                            span 30.400.000đ
                        
                    .card__sale 
                        span -20%
//- code here
script(type="module" src="../js/domestic.js") 