.section_category_tour
    .module-title
        h2 Điểm đến yêu thích
    .row
        .vid-block 
            img(src="../img/1.jpg", alt="")
        .img_group
            .img_block
                img(src="../img/banaHills1.jpg", alt="")
                .icon-content
                    .icon-content-img
                        img(src="https://bizweb.dktcdn.net/100/315/268/themes/857513/assets/tour_icon_1.png?1655522409835", alt="")
                    p.name-place Bà Nà Hill
                    .icon-content-block
                        p.status-place Đang cập nhập
                        a(href="#") Khám phá
            .img_block
                img(src="../img/Switzerland1.jpg", alt="")
                .icon-content
                    .icon-content-img    
                        img(src="https://bizweb.dktcdn.net/100/315/268/themes/857513/assets/tour_icon_2.png?1655522409835", alt="")
                    p.name-place Switzerland
                    .icon-content-block
                        p.status-place Đang cập nhập
                        a(href="#") Khám phá
            .img_block
                img(src="../img/phuQuoc1.jpg", alt="")
                .icon-content
                    .icon-content-img    
                        img(src="https://bizweb.dktcdn.net/100/315/268/themes/857513/assets/tour_icon_3.png?1655522409835", alt="")
                    p.name-place Phú Quốc
                    .icon-content-block
                        p.status-place Đang cập nhập
                        a(href="#") Khám phá 
            .img_block
                img(src="../img/daLat1.jpg", alt="")
                .icon-content
                    .icon-content-img
                        img(src="//bizweb.dktcdn.net/100/315/268/themes/857513/assets/tour_icon_4.png?1655522409835", alt="")
                    p.name-place Đà Lạt
                    .icon-content-block
                        p.status-place Đang cập nhập
                        a(href="#") Khám phá
            .img_block
                img(src="../img/sapa1.jpg", alt="")
                .icon-content
                    .icon-content-img
                        img(src="//bizweb.dktcdn.net/100/315/268/themes/857513/assets/tour_icon_5.png?1655522409835", alt="")
                    p.name-place Sapa
                    .icon-content-block
                        p.status-place Đang cập nhập
                        a(href="#") Khám phá
            .img_block
                img(src="../img/muonghoa1.jpg", alt="")
                .icon-content
                    .icon-content-img    
                        img(src="//bizweb.dktcdn.net/100/315/268/themes/857513/assets/tour_icon_6.png?1655522409835", alt="")
                    p.name-place Mộng Hoa
                    .icon-content-block
                        p.status-place Đang cập nhập
                        a(href="#") Khám phá
script(type="module" src="../js/favDes.js") 