doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Footer
  // <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  script(src='https://kit.fontawesome.com/679b341e81.js' crossorigin='anonymous')
  link(rel='stylesheet' href='./style.css')
  //- img(src="../img/sapa.jpg", alt="", srcset="")
.fixed-pic2
.fixed-pic2
.fixed-pic(style="background-image: url('../img/blossomCastle.jpg')")
  .container
    .carousel-pic
      .block
        .item
          .number
            span 1
          .title MẠNG BÁN TOUR
          .text Số 1 tại Việt Nam
      .block
        .item
          .number
            span 2
          .title THANH TOÁN
          .text An toàn, linh hoạt. Liên kết với các tổ chức tài chính
      .block
        .item
          .number
            span 3
          .title GIÁ CẢ
          .text Luôn có mức giá tốt nhất. Đảm bảo giá cả tốt
      .block
        .item
          .number
            span 4
          .title SẢN PHẨM
          .text Đa dạng, chất lượng tốt nhất
      .block
        .item
          .number
            span 5
          .title ĐẶT TOUR
          .text Dễ dàng, nhanh chóng, thuận lợi
      .block
        .item
          .number
            span 6
          .title Hỗ trợ
          .text 24/7
//- .fixed-pic2
.footer
  .foo__middle
    .container
      .carousel
        .foo__block.foo__block2
          div
            h4.foo__title LIÊN HỆ
            ul.foo__list
              li.foo__item
                b Địa chỉ
                | : 13 Đình Phong Phú, Tăng Nhơn Phú B, 9 B, 
                | Thành phố Hồ Chí Minh, Việt Nam, Trái Đất
              li.foo__item
                b Điện thoại
                | : 
                a.foo__link(href='') 19006750
              li.foo__item
                b Email
                | :
                a.foo__link(href='mailto:nguyentu100312@gmail.com') support@PiedTeam.vn
              li.foo__item
                b Giờ làm việc
                | : 9 AM - 6 PM
        .foo__block.foo__block2
          div
            h4.foo__title KẾT NỐI VỚI CHÚNG TÔI
            .contact-button
              ul.foo__list
                li.foo__item
                  a.foo__link(href='https://www.facebook.com/' target='_blank')
                    i.fa-brands.fa-facebook
                li.foo__item
                  a.foo__link(href='https://www.youtube.com/' target='_blank')
                    i.fa-brands.fa-youtube
                li.foo__item
                  a.foo__link(href='https://www.messenger.com/' target ='_blank')
                    i.fa-brands.fa-facebook-messenger
                li.foo__item
                  a.foo__link(href='https://mail.google.com/' target ='_blank')
                    i.fa-solid.fa-at
            h4.foo__title CHẤP NHẬN THANH TOÁN
            .contact-button
              ul.foo__list
                li.foo__item
                  a.foo__link(href='#' target='_blank')
                    i.fa-brands.fa-cc-visa
                li.foo__item
                  a.foo__link(href='#' target='_blank')
                    i.fa-brands.fa-cc-jcb
                li.foo__item
                  a.foo__link(href='#')
                    i.fa-brands.fa-cc-mastercard
                li.foo__item
                  a.foo__link(href='#')
                    i.fa-brands.fa-cc-paypal
        .foo__block.foo__block3
          div
            p.foo__title TRONG NƯỚC
            ul.foo__list
              li.foo__item
                a.foo__link(href='Hạ Long') Hạ Long
              li.foo__item
                a.foo__link(href='Ninh Bình') Ninh Bình
              li.foo__item
                a.foo__link(href='Nghệ An') Nghệ An
              li.foo__item
                a.foo__link(href='Đà Nẵng') Đà Nẵng
              li.foo__item
                a.foo__link(href='Tam Đảo') Tam &Dstrok;&#x1EA3;o
              li.foo__item
                a.foo__link(href='Quảng Ninh') Quảng Ninh
              li.foo__item
                a.foo__link(href='Thanh Hóa') Thanh Hóa
        .foo__block.foo__block3
          div
            p.foo__title NGOÀI NƯỚC
            ul.foo__list
              li.foo__item
                a.foo__link(href='Tây Ban Nha') Tây Ban Nha
              li.foo__item
                a.foo__link(href='Anh') Anh
              li.foo__item
                a.foo__link(href='Ý') Ý
              li.foo__item
                a.foo__link(href='Pháp') Pháp
              li.foo__item
                a.foo__link(href='Thái Lan') Thái Lan
              li.foo__item
                a.foo__link(href='Hàn Quốc') Hàn Quốc
              li.foo__item
                a.foo__link(href='Trung Quốc') Trung Quốc
        .foo__block.foo__block3
          div
            p.foo__title THÔNG TIN
            ul.foo__list
              li.foo__item
                a.foo__link(href='Tin tức') Tin tức
              li.foo__item
                a.foo__link(href='Tạp chí du lịch') Tạp chí du lịch
              li.foo__item
                a.foo__link(href='Cẩm nang du lịch') Cẩm nang du lịch
              li.foo__item
                a.foo__link(href='Kinh nghiệm du lịch') Kinh nghiệm
              li.foo__item
                a.foo__link(href='Liên hệ') Liên hệ
  .foo__copyright
    .container
      .copyright
        footer
          | &#64 Bản quyền thuộc về PiedTeam 
          span.O__hidden |
          span.cungcap Cung cấp bởi FPT
//- div(style='height: 100vh;')
//--code here
script(type="module" src="../js/footer.js") 