doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    .container
        a(href="#japan") Tour ngoài nước
        p Bạn là người thích chinh phục, thử đếm xem bạn đã trải qua bao nhiêu quốc gia. Coca travel sẽ là đòn bẩy để đưa bạn đến mọi quốc gia trên thế giới.
        br
        hr(width='100%' size='3px' align='center')
        .card__block
            .card__background1
                span   
                .card__img 
                    img(src="./../img/Scotland.jpg", alt="", srcset="")
                .card__infor 
                    p Lịch trình Tour Scotland- 3 ngày 2 đêm
                    br
                    hr(width='100%' size='1px' align='center')
                    h5 
                        del 89.000.000đ
                    h4 
                        span 75.650.000đ
                .card__sale 
                    span -15%

            .card__background1
                span   
                .card__img
                    img(src="./../img/Singapore.jpg", alt="", srcset="")
                .card__infor 
                    p Lịch trình Tour Singapore - 4 ngày 3 đêm
                    br
                    hr(width='100%' size='1px' align='center')
                    h5 
                        del 80.000.000đ
                    h4 
                        span 64.000.000đ
                .card__sale 
                    span -20%
            .card__background1
                span 
                .card__img 
                    img(src="./../img/Thailand.jpg", alt="", srcset="")
                .card__infor 
                    p Lịch trình Tour Thailand - 2 ngày 1 đêm
                    br
                    hr(width='100%' size='1px' align='center')
                    h5 
                        del 40.000.000đ
                    h4 
                        span 28.000.000đ
                .card__sale 
                    span -30%
            .card__background1  
                span 
                .card__img 
                    img(src="./../img/Switzerland.jpg", alt="", srcset="")
                .card__infor 
                    p Lịch trình Tour Switzerland - 3 ngày 2 đêm
                    br
                    hr(width='100%' size='1px' align='center')
                    h5 
                        del 150.000.000đ
                    h4 
                        span 127.500.000đ
                .card__sale 
                    span -15%

            .card__background1 
                span  
                .card__img 
                    img(src="./../img/England.jpg", alt="", srcset="")
                .card__infor 
                    p Lịch trình Tour England - 4 ngày 3 đêm
                    br
                    hr(width='100%' size='1px' align='center')
                    h5 
                        del 200.000.000đ
                    h4 
                        span 150.000.000đ
                .card__sale 
                    span -25%
            
            .card__background1
                span(id="japan") 
                .card__img 
                    img(src="./../img/phusy.jpg", alt="", srcset="")
                .card__infor 
                    p Lịch trình Tour Japan  - 3 ngày 2 đêm
                    br
                    hr(width='100%' size='1px' align='center')
                    h5 
                        del 85.000.000đ
                    h4 
                        span 72.250.000đ
                     
                .card__sale 
                    span -15% 
//- code here
script(type="module" src="../js/foreign.js") 