//- code here
.Vinh-part
    .nav-bg
      .container
        .nav
          // nút nhấn
          input.btn-toggle-menu(type='checkbox')
          .toggle-menu-icon
            span
          // menu+ btn- contract
          .nav_menu.menu-gold
            ul.nav_menu_list
              li.nav-menu_item
                a.nav-menu_link.actived.actived(href='#')  Trang chủ
              li.nav-menu_item
                a.nav-menu_link(href='#')  Giới thiệu
                ul
                  li
                    a(href='#')  Cẩm nag du lịch
                  li
                    a(href='#')  Kinh nghiệm du 
                    ul
                      li
                        a(href='#')  CHọn nơi du lịch
              li.nav-menu_item
                a.nav-menu_link(href='#')  Tour du lịch
                ul
                  li
                    a(href='#')  Đà Lạt
                  li
                    a(href='#')  Nha Trang
                  li
                    a(href='#')  Hạ Long
              li.nav-menu_item
                a.nav-menu_link(href='#')  Tin tức
              li.nav-menu_item
                a.nav-menu_link(href='#')  Liên hệ
              
script(type="module" src="../js/menu.js") 